.diagramWrapper {
    position: relative;
    margin-bottom: 4em;
    width: 85vw;

    perspective: 1000px;

    .diagram {
        position: absolute;
        background-color: #dbdbdb;
        color: black;
        width: 50%;
        height: 60%;
        box-shadow: 5px 5px 5px black;
        left: 25%;
        top: 15%;
        display: none;
    }
    .display { 
        display: block; 
        z-index: 5;
    }
    .flip { 
        display: block;
        z-index: 10;
    }

    #cover {
        text-align: center;
        padding: .5em;
        
        .animeTitle {
            width: 90%;
        }
        .coin {
            height: 5em;
            width: 5em;
        }
        >h1 {
            font-size: 2em;
            margin: .25em;
        }
    }
}