.diagramWrapper {
    position: relative;
    margin-bottom: 4em;
    width: 85vw;

    perspective: 1000px;

    .diagram {
        position: absolute;
        background-color: #dbdbdb;
        color: black;
        width: 50%;
        height: 60%;
        box-shadow: 5px 5px 5px black;
        left: 25%;
        top: 15%;
        display: none;
        box-shadow: inset 0px 0px 100px rgb(66, 54, 38), 15px 15px 15px black;
    }
    .display { 
        display: block; 
        transform-origin: bottom left;
    }
    .flip { 
        display: block;
        z-index: 10;
        box-shadow: inset 0px 0px 100px rgb(66, 54, 38), 10px 10px 15px black;
        transform-origin: bottom left;
        // backface-visibility: hidden;
    }
    // === TRY TO CREATE A BACKSIDE. MAYBE === \\
    // .flip::before {
    //     position: absolute;
    //     content: ' ';
    //     right: 0px;
    //     bottom: 0px;
    //     top: 0px;
    //     left: 0px;
    //     background: rgb(66, 54, 38); 
    //     transform: rotateY(180deg);
    //     backface-visibility: hidden;
    // }
    .hide { 
        display: block;
        z-index: -10;
        box-shadow: inset 0px 0px 100px rgb(66, 54, 38), 10px 10px 15px black;
    }

    #cover {
        text-align: center;
        padding: .5em;

        
        .animeTitle {
            width: 100%;
            padding: 0 10%;
        }
        .coin {
            height: 5em;
            width: 5em;
        }
        >h1 {
            font-size: 2em;
            margin: .25em;
        }
    }
}