@use '../_base.scss';

.menuAnimation {
    z-index: 20;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85vw;
    height: 4em;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}