@use './_base.scss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: base.$background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;

}

.App {
  display: flex;
  flex-direction: row;
}


.fakeButton {
  margin: .5em;

  input {
    display: none;
  }
  label {
    cursor: pointer;
    display: block;

    padding: 5px;
    border: 2px outset base.$button-color;
    border-radius: 10px;
    transition: .5s;
    box-shadow: 5px 5px 5px black;
  }
  input:checked + label {
    box-shadow: 2px 2px 3px black;
  }
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: base.$background-color; 
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}